@CHARSET "UTF-8";
/*JSP nowPlayingMovie*/
/*Movie List Main Block*/
.movielist {
    margin-left: auto;
    margin-right: auto;
}

/*Movie profil block*/
.movieprofil-mini-block {
    width: 40%;
    height: 200px;
    display:inline-block;
}

.movieprofil-mini-block img, .movieprofil-mini-block span {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

/*Movie Profil info inside Movie Profil Block*/
.movieprofil-mini-info {
    /*padding-left: 115px;
    padding-left-value: 115px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;*/
}

.movieprofil-mini-info h4{
    height: 60px;
    margin: 0px;
    margin-top: 0px;
    margin-right-value: 0px;
    margin-bottom: 0px;
    margin-left-value: 0px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
    padding: 0px;
    padding-top: 0px;
    padding-right-value: 0px;
    padding-bottom: 0px;
    padding-left-value: 0px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    vertical-align: top;
}

p {
    color: orange;
    style: italic;
}

/*JSP scheduleMovie*/
/*schedule Main Block*/
.schedule-movielist {
    margin-left: auto;
    margin-right: auto;
}

.schedule-movieprofil-mini-block h4 {

    text-align: center;
}

.schedule-movieprofil-mini-block img, .schedule-movieprofil-mini-block span{
    display: inline-block;
    vertical-align: middle;
}

.schedule-movielist-synopsis {
    width: 600px;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #000000;
    width: 65px;
    text-align: center;
}
/*
table {
    color: #333;
    font-family: sans-serif;
    font-size: .9em;
    font-weight: 300;
    line-height: 40px;
    border: 2px solid #428bca;
    width: 800px;
    margin: 20px auto;
}

thead tr:first-child {
    background: #428bca;
    color: #fff;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

th {padding: 0 15px 0 20px;}
td:first-child {padding-left: 20px;}

thead tr:last-child th {border-bottom: 3px solid #ddd;}

tbody tr:hover {background-color: #f0fbff;}
tbody tr:last-child td {border: none;}
tbody td {
    text-align: center;
    border-bottom: 2px solid #ddd;}

td:nth-child(3),
td:nth-child(4),
td:nth-child(6){
    text-align: center;
}

.link {
    color: #428bca;
    text-align: center;
    text-decoration: none;
    padding-left: 15px;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}
*/
