@CHARSET "ISO-8859-1";

.center-block a {
    margin-top: 5px;
}

.content {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.movie-info {
	display: inline-flex;
}

.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

/*
Register
*/

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin
{
    margin-bottom: 10px;
}
.form-signin
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

/*JSP nowPlayingMovie*/
/*Movie List Main Block*/
.movielist {
    margin-left: auto;
    margin-right: auto;
}

/*Movie profil block*/
.movieprofil-mini-block {
    width: 40%;
    height: 200px;
    display:inline-block;
}

.movieprofil-mini-block img, .movieprofil-mini-block span {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

/*Movie Profil info inside Movie Profil Block*/
.movieprofil-mini-info {
    /*padding-left: 115px;
    padding-left-value: 115px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;*/
}

.movieprofil-mini-info h4{
    height: 60px;
    margin: 0px;
    margin-top: 0px;
    margin-right-value: 0px;
    margin-bottom: 0px;
    margin-left-value: 0px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
    padding: 0px;
    padding-top: 0px;
    padding-right-value: 0px;
    padding-bottom: 0px;
    padding-left-value: 0px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    vertical-align: top;
}

/*
p {
    color: #000000;
    style: italic;
}
*/

/*JSP scheduleMovie*/
/*schedule Main Block*/
.schedule-movielist {
    margin-left: auto;
    margin-right: auto;
}

.schedule-movieprofil-mini-block {

}

.schedule-movieprofil-mini-block h4 {

    text-align: left;
}

.schedule-movieprofil-mini-block img, .schedule-movieprofil-mini-block span{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
.schedule-movielist-interact {
    display: inline-block;
    vertical-align: middle;
}

.schedule-movielist-interact a {
    display: block;
}

.table-schedule {

}

.schedule-movielist-synopsis {
    width: 600px;
}

.table-bordered {
    width: 40%;
}
/*Profil Movie*/
.profil-movie-interact {

}

/*
table {
    border-collapse: collapse;
}
*/

.table-schedule-td {
    border: 1px solid #000000;
    width: 65px;
}