@CHARSET "ISO-8859-1";

.center-block a {
	margin-top: 5px;
}

.content {
	width: 50%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
}

.bs-example {
	margin: 20px;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	padding: 5px;
	height: 50px;
}

.list {
	position: absolute;
	left: 0px;
	top: 0px;
	min-width: 3000px;
	margin-left: 12px;
	margin-top: 0px;
}

.list li {
	display: table-cell;
	position: relative;
	text-align: center;
	cursor: grab;
	cursor: -webkit-grab;
	color: #efefef;
	vertical-align: middle;
}

.scroller {
	text-align: center;
	cursor: pointer;
	display: none;
	padding: 7px;
	padding-top: 11px;
	white-space: no-wrap;
	vertical-align: middle;
	background-color: #fff;
}

.scroller-right {
	float: right;
}

.scroller-left {
	float: left;
}

.movie-info {
	display: inline-flex;
}

.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

/*
Register
*/
.form-signin {
	max-width: 100%;
	padding: 15px;
	margin: 0 auto;
	font-size: 16px;
}

.form-signin .form-signin-heading, .form-signin {
	margin-bottom: 10px;
}

.form-signin {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.sign_up_left {
	float: left;
	width: 40%;
}

.account-wall {
	background-color: #f7f7f7;
	-moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
	width: 60%;
	float: right;
}

.account-wall h3 {
	text-align: center;
	border: 5px groove;
}

.account-wall td {
	width: 25px;
	padding: 0px 0px 25px 0px;
}

/*JSP profil*/
.profil-reservList table {
	padding: 5px;
	border: 1px solid white;
	overflow-y: scroll;
}

.profil-reservList td {
	text-align: center;
}

.profil-reservList th {
	text-align: center;
	background-color: #0088cc;
	color: white;
}

/*JSP nowPlayingMovie*/
/*Movie List Main Block*/
.movielist {
	margin-left: auto;
	margin-right: auto;
}

/*Movie profil block*/
.movieprofil-mini-block {
	width: 40%;
	height: 200px;
	display: inline-block;
}

.movieprofil-mini-block img, .movieprofil-mini-block span {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

/*Movie Profil info inside Movie Profil Block*/
.movieprofil-mini-info {
	/*padding-left: 115px;
    padding-left-value: 115px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;*/

}

.movieprofil-mini-info h4 {
	height: 60px;
	margin: 0px;
	margin-top: 0px;
	margin-right-value: 0px;
	margin-bottom: 0px;
	margin-left-value: 0px;
	margin-left-ltr-source: physical;
	margin-left-rtl-source: physical;
	margin-right-ltr-source: physical;
	margin-right-rtl-source: physical;
	padding: 0px;
	padding-top: 0px;
	padding-right-value: 0px;
	padding-bottom: 0px;
	padding-left-value: 0px;
	padding-left-ltr-source: physical;
	padding-left-rtl-source: physical;
	padding-right-ltr-source: physical;
	padding-right-rtl-source: physical;
	vertical-align: top;
}

/*
p {
    color: #000000;
    style: italic;
}
*/

/*JSP scheduleMovie*/
/*schedule Main Block*/
.schedule-movielist {
	margin-left: auto;
	margin-right: auto;
}

.schedule-movieprofil-mini-block {

}

.schedule-movieprofil-mini-block h4 {
	text-align: left;
}

.schedule-movieprofil-mini-block img, .schedule-movieprofil-mini-block span
{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.schedule-movielist-interact {
	display: inline-block;
	vertical-align: middle;
}

.schedule-movielist-interact a {
	display: block;
}

.table-schedule {

}

.schedule-movielist-synopsis {
	width: 600px;
}

.table-bordered {
	width: 40%;
}
/*Profil Movie*/
.profil-movie-interact {

}

/*
table {
    border-collapse: collapse;
}
*/
.table-schedule-td {
	border: 1px solid #000000;
	width: 65px;
}

.info-left {
	float: left;
	width: 50%;
	border-right: dashed;
	border-width: 1px;
}

.info-right {
	padding-left: 20px;
	float: right;
	text-align: left;
	width: 50%;
}


/* Sticky footer styles
      -------------------------------------------------- */
html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
	height: 60px;
}

#footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Custom page CSS
      -------------------------------------------------- */
/* Not required for template or sticky footer method. */
#wrap>.container {
	padding-top: 60px;
}

.container .credit {
	margin: 20px 0;
}

code {
	font-size: 80%;
}